<% obj.each do |art| %>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%= link_to art.title, article_path(art) %>
      </div>
      <div class="article-body">
        <%= truncate(art.description, length: 30) %>
        <div class="article-meta-details">
          <small>
            Created by: <%= link_to art.user.username, user_path(art.user) %><%=  %>, 
            <%= time_ago_in_words(art.created_at) %> ago, 
            last updated: <%= time_ago_in_words(art.updated_at) %> ago
          </small>
        </div>
      </div>
      <% if art.categories.any? %>
        <p>
          Categories: <%= render art.categories %>
        </p>
      <% end %>
      <div class="article-actions">
        <% if logged_in? && (current_user == art.user || current_user.admin?) %>
          <%= link_to "Edit this article", edit_article_path(art), class: "btn btn-xs btn-primary" %>
          <%= link_to "Delete this article", article_path(art), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>