<h1 align="center">All the Illos</h1>

<div align="center">
  <%= will_paginate %>
  <% @users.each do |u| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-6 col-md-offset-3">
          <li><%= link_to gravatar_for(u), user_path(u) %></li>
          <li class="user-title">
            <%= link_to u.username, user_path(u) %>
          </li>
          <li>
            <small>
              <%= pluralize(u.articles.count, 'article') if u.articles %>
            </small>
          </li>
          <% if logged_in? and current_user.admin? %>
            <li>
              <%= link_to "Delete User", user_path(u), method: :delete, data: { confirm: "Are you sure you want to delete this user and all its articles?"} %>
            </li>
          <% end %>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>